*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto") url(./fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}

.header{
  width:100%;
  height: 12vw;
  position: absolute;
  z-index: 100;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
  color: white;
  padding: 5px;
  font-size: 8.5vw;
  font-family: "Roboto","Sans-serif";
}

.main-header{
  width: 100%;
  height: 120vh;
  background: rgba(2, 0, 36, 1);
}
.background-main{
  width: 100%;
  height: 60vh;
  object-fit: cover;
  position: absolute;
  top: 0;

}
.blur-background{
  width: 100%;
  height: 60vh;
  top: 0;
  position: absolute;
  z-index: 10;
  background: rgb(2,0,36,0.2);
  background: linear-gradient(0deg, rgba(2, 0, 36, 0.9) 3%, rgba(94,94,113,.3) 16%, rgba(224,232,233,0.2) 100%);
}


/*------RECOMMEND SECTION -------*/

.recommend{
  width: 100%;
  color: white;
  position: absolute;
  top: 58vh;
  padding: 15px;
  font-family: "Roboto", "Sans-serif";
  font-size: 5vw;
}
.recommend-movies{
  width: 100%;
  height: 65vw;
  position: absolute;
  top: 64vh;
  display: flex;
  align-items: center;
  overflow: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  
}
.movie-container{
  width: 30%;
  height: 60vw;
  margin: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  justify-content:center;
}
.movie-poster{
  max-width: 182px;
  height: 272px;  
  object-fit:cover;
  }
.info-container{
  height: 20%;
}
.movie-name{
  color: white;
  font-family: "Roboto","Sans-serif";
  font-size: 3.8vw;
}
.movie-rate{
  color: white;
  font-family: "Roboto","Sans-serif";
  font-size: 2.8vw;
}


/*------MOVIES SECTION -------*/
.movies-container{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 96vh;
  z-index: 1000;
  background: rgba(2, 0, 36, 1);
}
.recommend-from-movies{
  width: 100%;
  color: white;
  position: relative;
  top: 0;
  padding: 15px;
  font-family: "Roboto", "Sans-serif";
  font-size: 5vw;
}
.movie-container-main{
  width: 30%;
  height: 60vw;
  margin-top: 3em;
  padding-left: 0.5em;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content:center;
}

.mainbox{
  padding: 0.4em;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  flex-wrap: wrap;
  background: rgba(2, 0, 36, 1);;
}
.button-container{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 20vw;
}
.button-container button{
  width: 25%;
  height: 10vw; 
  background: none;
	color: white;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  background: rgba(2, 0, 36, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(18.3px);
  -webkit-backdrop-filter: blur(18.3px);
  border: 1px solid rgba(2, 0, 36, 0.05);
}





/*-------QUERIES---------*/
@media (max-width: 320px) {
  .movies-container{
    top: 87vh;
  }
}
/*-------iphone SE---------*/
@media (max-height: 668px) {
  .movies-container{
    top: 99vh;
  }
}
/*-------QUERIES---------*/
@media (min-width: 460px) {
  .movies-container{
    top: 110vh;
  }
  .mainbox{
    top:8vh;
  }
  .movie-container{
    height: 20vw;
    align-items: center;
  }
  
}
@media (min-width: 520px) {
  .movies-container{
    top: 113vh;
  }
}
@media (min-width: 610px) {
  .movies-container{
    top: 110vh;
  }
  .header{
    font-size: 8vw;
  }
  .recommend{
    font-size: 4.5vw;
  }
  .recommend-from-movies{
    font-size: 4.5vw;
  }
  .movie-name{
    font-size: 3.3vw;
  }
  .movie-rate{
    font-size: 2.3vw;
  }
}





@media (min-width: 676px) {
  .movies-container{
    top: 115vh;
  }
  .header{
    font-size: 7.75vw;
  }
  .recommend{
    font-size: 4.25vw;
  }
  .recommend-from-movies{
    font-size: 4.25vw;
  }
  .movie-name{
    font-size: 3.05vw;
  }
  .movie-rate{
    font-size: 2.05vw;
  }
  .movie-container-main{
    height: 50vw;
    margin: 0.2em;
    padding-left: 0.5em;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content:center;
  }
}


@media (min-width: 750px) {
  .movies-container{
    top: 112vh;
  }
  .header{
    font-size: 7.5vw;
  }
  .recommend-movies{
    top: 60vh;
  }
  .recommend{
    font-size: 4vw;
  }
  .recommend-from-movies{
    font-size: 4vw;
  }
  .movie-name{
    font-size: 2.8vw;
  }
  .movie-rate{
    font-size: 1.8vw;
  }
  .movie-container-main{
    width: 25%;
    height: 45vw;
    margin: 0;
    margin-top: 2.25em;
    padding-left: 4.5px;
  }
}

@media (min-width: 816px) {
  .movies-container{
    top: 120vh;
  }
  .main-header{
    height: 240vh;
  }
  .header{
    font-size: 7.25vw;
  }
  .recommend-movies{
    top: 70vh;
  }
  .recommend{
    font-size: 3.75vw;
    top: 69vh;
  }
  .recommend-from-movies{
    font-size: 3.75vw;
  }
  .movie-name{
    font-size: 2.55vw;
  }
  .movie-rate{
    font-size: 1.55vw;
  }
  .movie-container-main{
    width: 25%;
    height: 45vw;
    margin-top: 0.5em;
    padding-left: 6.5px;
  }
  .background-main{
    height: 70vh;
  }
  .blur-background{
    height: 70vh;
  }
}
@media (min-width: 885px) {
  .movies-container{
    top: 130vh;
  }
  .main-header{
    height: 240vh;
  }
  .header{
    font-size: 7vw;
  }
  .recommend-movies{
    top: 78vh;
  }
  .recommend{
    top: 80vh;
    font-size: 3.5vw;
  }
  .recommend-from-movies{
    font-size: 3.5vw;
  }
  .movie-name{
    font-size: 2.3vw;
  }
  .movie-rate{
    font-size: 1.3vw;
  }
  .movie-container-main{
    width: 25%;
    height: 42vw;
    margin-top: 0;
    padding-left: 6.5px;
  }
  .background-main{
    height: 75vh;
  }
  .blur-background{
    height: 75vh;
  }
}

/*-------LAPTOP 1366X657---------*/
@media screen and (min-width:1366px){
  .movies-container{
    top: 160vh;
  }
  .main-header{
    height: 505vh;
  }
  .header{
    font-size: 4vw;
    height: 55px;
  }
  .recommend-movies{
    top: 92vh;
    height: 35vw;
    width: 79%;
    margin-left: 10%;
  }
  .recommend{
    top: 85vh;
    font-size: 2.85vw;
    padding-left: 10%;
  }
  .recommend-from-movies{
    font-size: 2.85vw;
    padding-left: 10%;
  }
  .movie-name{
    width: 182px;
    font-size: 1.55vw;
  }
  .movie-rate{
    font-size: 1.3vw;
  }
  .mainbox{
    width: 79%;
    padding-left: 18%;
  }
  .movie-container-main{
    width: 182px;
    height: 28vw;
    margin-top: 0;
    padding-left: 6.5px;
  }
  .movie-container{
    height: 40vw;
  }
  .background-main{
    height: 85vh;
  }
  .blur-background{
    height: 85vh;
  }
}
